{% extends 'home/base.html' %}


{% block content %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome to InsideIT!</h1>
        <p>We plan on improving this site and adding more features to help facilitate IT functions and your interactions with our department. 
        We home you find the tools here useful and we welcome any suggestions you might have.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{% url 'blog.views.post_list' %}" role="button">Test link &raquo;</a>
        </p>
      </div>
      <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <p> the end </p>
      </div>
{% endblock %}

